.header {
  background-image: var(--primary-gradient);
}

.header .container, .header .container-fluid {
  height: 70px;
  min-height: 100%;
}

.header h1 a {
  color: var(--text);
  font-size: var(--fontxl);
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav .theme-schema {
  display: block;
}

@media screen and (max-width: 991px) {
  .header nav .theme-schema {
    display: none;
  }
}

.header nav .theme-schema .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.header nav .theme-schema .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.header nav .theme-schema .checkbox {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
}

.header nav .theme-schema .checkbox::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary);
  -webkit-transition: .4s;
  transition: .4s;
}

.header nav .theme-schema .checkbox.round {
  border-radius: 34px;
}

.header nav .theme-schema .checkbox.round::before {
  border-radius: 50%;
}

.header nav .theme-schema input:checked + .checkbox {
  background-color: var(--navbar);
}

.header nav .theme-schema input:checked + .checkbox::before {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}

.header nav .theme-schema input:focus + .checkbox {
  -webkit-box-shadow: 0 0 1px var(--primary);
          box-shadow: 0 0 1px var(--primary);
}

.header nav .log-in {
  display: block;
  margin: 0 2.5rem 0 2.5rem;
}

@media screen and (max-width: 991px) {
  .header nav .log-in {
    display: none;
  }
}

.header nav .log-in ul > li {
  position: relative;
}

.header nav .log-in ul > li a {
  color: var(--text);
}

.header nav .log-in ul > li ul {
  border-radius: 8px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  width: auto;
  opacity: 0;
  position: absolute;
  -webkit-filter: drop-shadow(rgba(128, 138, 157, 0.12) 0px 1px 2px) drop-shadow(rgba(128, 138, 157, 0.24) 0px 8px 32px);
          filter: drop-shadow(rgba(128, 138, 157, 0.12) 0px 1px 2px) drop-shadow(rgba(128, 138, 157, 0.24) 0px 8px 32px);
  background-color: var(--text);
  z-index: 1;
  margin-top: 2rem;
  padding: 1rem 2rem 2rem 2rem;
}

.header nav .log-in ul > li ul .form-group {
  margin-top: 1rem;
}

.header nav .log-in ul > li ul .form-group label {
  color: var(--black);
  font-size: var(--fonts);
}

.header nav .log-in ul > li ul .form-group input {
  background: var(--black);
  border-radius: 5px;
  color: var(--text);
  padding: 1rem;
  margin-top: .5rem;
}

.header nav .log-in ul > li ul .form-group input::-webkit-input-placeholder {
  color: var(--text);
}

.header nav .log-in ul > li ul .form-group input:-ms-input-placeholder {
  color: var(--text);
}

.header nav .log-in ul > li ul .form-group input::-ms-input-placeholder {
  color: var(--text);
}

.header nav .log-in ul > li ul .form-group input::placeholder {
  color: var(--text);
}

.header nav .log-in ul > li ul button {
  margin-top: 1rem;
  background: var(--primary-gradient);
  color: var(--text);
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.header nav .log-in ul > li ul::before {
  content: "";
  display: block;
  width: 0px;
  z-index: 10;
  height: 0px;
  border-width: 10px;
  border-style: solid;
  -o-border-image: initial;
     border-image: initial;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--text);
  position: absolute;
  top: -20px;
  left: 12px;
}

.header nav .log-in ul > li:hover ul {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav .free-trial {
  display: block;
  background-color: var(--navbar);
  cursor: pointer;
  padding: .9rem 1.5rem .9rem 1.5rem;
}

@media screen and (max-width: 991px) {
  .header nav .free-trial {
    display: none;
  }
}

.header nav .free-trial a {
  color: var(--white);
}

.header nav .free-trial:hover {
  background-color: var(--footer);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.header nav .hamburger-menu {
  display: none;
  margin-right: 1rem;
  margin-left: 1.5rem;
  width: 27px;
  height: 17px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .header nav .hamburger-menu {
    display: block;
  }
}

.header nav .hamburger-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--text);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header nav .hamburger-menu span:nth-child(1) {
  top: 0px;
}

.header nav .hamburger-menu span:nth-child(2), .header nav .hamburger-menu span:nth-child(3) {
  top: 7px;
}

.header nav .hamburger-menu span:nth-child(4) {
  top: 14px;
}

.header nav .hamburger-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header nav .hamburger-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header nav .hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header nav .hamburger-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-mobile {
  background: var(--footer);
  padding-bottom: 1rem;
  display: none;
}

.nav-mobile .log-in, .nav-mobile .free-trial, .nav-mobile .theme-schema {
  padding: 1.5rem;
}

.nav-mobile .log-in a, .nav-mobile .free-trial a, .nav-mobile .theme-schema a {
  color: var(--white);
}

.nav-mobile .theme-schema {
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-mobile .theme-schema .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.nav-mobile .theme-schema .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.nav-mobile .theme-schema .checkbox {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
}

.nav-mobile .theme-schema .checkbox::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary);
  -webkit-transition: .4s;
  transition: .4s;
}

.nav-mobile .theme-schema .checkbox.round {
  border-radius: 34px;
}

.nav-mobile .theme-schema .checkbox.round::before {
  border-radius: 50%;
}

.nav-mobile .theme-schema input:checked + .checkbox {
  background-color: var(--white);
}

.nav-mobile .theme-schema input:checked + .checkbox::before {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}

.nav-mobile .theme-schema input:focus + .checkbox {
  -webkit-box-shadow: 0 0 1px var(--primary);
          box-shadow: 0 0 1px var(--primary);
}

.nav-mobile .free-trial {
  background: var(--primary-gradient);
  cursor: pointer;
}

.nav-mobile .free-trial a {
  color: var(--text);
}

.nav-mobile .free-trial:hover {
  background: var(--primary);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
/*# sourceMappingURL=header.css.map */